template(name="landing")
	div#landing
		div.header2
			div.valign-middle.responsive-image
				div.row
					div.col-xs-12.col-sm-6.col-sm-offset-3
						div.row
							div.col-xs-6
								button#login.btn.btn-block.btn-default.btn-lg Log In

							div.col-xs-6
								button#join.btn.btn-block.btn-primary.btn-lg Join Free

		div.container
			div.row
				div.col-xs-12
					br
					h3.text-center bibbidi bobbidi
						strong.text-primary life solved
					h5.text-center
						em - The New York Times
					br

		div.presentation-box
			br
			h2.text-center.p-text What You Get

			div.hidden-xs
				div.row
					div.col-md-3.col-sm-6.col-xs-12
						h2.p-text.text-center
							i.fa.fa-plane
						h3.p-text.text-center Unlimited Flights
						p.text-center.text-primary Fly anywhere free of charge!

					div.col-md-3.col-sm-6.col-xs-12
						h2.p-text.text-center
							i.fa.fa-shopping-cart
						h3.p-text.text-center Shopping Spree
						p.text-center.text-primary Buy anything free of charge!

					div.col-md-3.col-sm-6.col-xs-12
						h2.p-text.text-center
							i.fa.fa-signal
						h3.p-text.text-center High Roller Status
						p.text-center.text-primary Need a yacht? Free!

					div.col-md-3.col-sm-6.col-xs-12
						h2.p-text.text-center
							i.fa.fa-users
						h3.p-text.text-center Makers Team
						p.text-center.text-primary A team of people that make what you want! FREE!
						h5.text-center.text-danger Coming Soon!

			div.visible-xs
				div.row
					div.col-xs-3
						h2.p-text.text-center
							i.fa.fa-plane

					div.col-xs-9
						h3.p-text Unlimited Flights
						p.text-primary Fly anywhere free of charge!

					div.col-xs-3
						h2.p-text.text-center
							i.fa.fa-shopping-cart

					div.col-xs-9
						h3.p-text Shopping Spree
						p.text-primary Buy anything free of charge!

					div.col-xs-3
						h2.p-text.text-center
							i.fa.fa-signal

					div.col-xs-9
						h3.p-text High Roller Status
						p.text-primary Need a yacht? Free!

					div.col-xs-3
						h2.p-text.text-center
							i.fa.fa-users

					div.col-xs-9
						h3.p-text Makers Team
						p.text-primary A team of people that make what you want! FREE!
						h5.text-danger Coming Soon!

		br
		div.container
			div.row.customer_story
				div.col-xs-12.col-sm-3
					img.img-responsive(src="/placeholder600x600.gif")

				div.col-xs-12.col-sm-9
					h3 Satisfied Customer Story
					p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			br
			div.row.customer_story
				div.col-xs-12.col-sm-3
					img.img-responsive(src="/placeholder600x600.gif")

				div.col-xs-12.col-sm-9
					h3 Special Customer Story
					p.text-justify Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


		div.footer
			footer.text-center
				small Copyright of
					strong "Easy Living LLC"



