#landing
	//Special Header
	.header2
		position:relative
		background-position: center center
		background-color:#333333
		@media screen and (min-width: 30em)
			height:340px

		@media screen and (min-width: 40em)
			height:440px

		@media screen and (min-width: 50em)
			height:540px

		@media screen and (min-width: 60em)
			height:640px

		height: 180px
		overflow: hidden

	.responsive-image
		background: url("/people_working_iris_blur.jpg") center center no-repeat
		background-size:100%

	#login
		background:rgba(255,255,255,40%)

	.presentation-box
		background:#333333

		.p-text
			color: white

	.footer
		height:100px
		position:relative

		footer
			position:absolute
			width:100%
			bottom:20px

	.customer_story
		h3
			@media screen and (min-width: 768px)
				margin-top:0



