template(name="landing")
	div#landing
		div.header2
			div.valign-middle.responsive-image
				div.row
					div.col-xs-12.col-sm-6.col-sm-offset-3
						div.row
							div.col-xs-6
								button#login.btn.btn-block.btn-default.btn-lg Log In

							div.col-xs-6
								button#join.btn.btn-block.btn-primary.btn-lg Join Free

