#nav
	margin-bottom:0px

	ul.navbar-nav
		margin:0
		float:left

		li
			float:left
			min-width:50px
			text-align:center

			a
				padding-top:15px
				padding-bottom:15px


	.navbar-right
		float:right !important


