template(name="nav")
	nav#nav.navbar.navbar-default.navbar-static-top(role="navigation")
		div.hidden-xs
			div.container
				ul.nav.navbar-nav
					li(class="{{active 'landing'}}")
						a(href="/")
							i.fa.fa-home

					li(class="{{active 'product'}}")
						a(href="/products/pop-vinyl-disney-carl-toy-figure")
							i.fa.fa-truck

					li(class="{{active 'product'}}")
						a(href="/form")
							i.fa.fa-th-list

		div.visible-xs
			div.container
				ul.nav.navbar-nav.navbar-right
					li(class="{{active 'menu'}}")
						a(href="/menu")
							i.fa.fa-bars


