template(name="menu")
	br
	div#menu.container
		div.row
			div.col-xs-12
				div.list-group
					a.list-group-item(href="/")
						i.fa.fa-home.icon
						| Landing Sample
						div.list-group-feedback
							i.fa.fa-chevron-right

					a.list-group-item(href="/products/pop-vinyl-disney-carl-toy-figure")
						i.fa.fa-truck.icon
						| Product Sample
						div.list-group-feedback
							i.fa.fa-chevron-right

					a.list-group-item(href="/form")
						i.fa.fa-th-list.icon
						| Complex Form Sample
						div.list-group-feedback
							i.fa.fa-chevron-right



